



.header {
  overflow: hidden;
  height: 100px;
}
h1 span{
  color: green;
}
.header a {
  color: #f1f1f1;
  padding: 12px;
  text-decoration: none;
  font-size: 22px; 
  line-height: 25px;
  border-radius: 4px;
  opacity: 0.9;
}
.header-right{
  margin-right: 5%;
  margin-top: -64px;
}
.header h1 {
  margin-left: 3%;
  font-size: 59px;
  padding: 10px;
  color: white;
}

.header-right a:hover {
  opacity: 1;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 850px) {
  .header a {
    float: none;
    display: grid;
    text-align: left;
   
  }
  
  .header-right {
    float: none;
    margin-top: 30px;
  }
}